<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>You requested to reset your password.</p>
    <p> Please, click the link below to reset your password</p>
    <button style="padding:7px 20px; background-color:rgb(0, 132, 255) ;border:none;border-radius:5px;"><a style="color:white; text-decoration:none" href="{{link}}">Reset Password</a></button>
  </body>
</html>